* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: scroll;
    background-color: darkgray;
    font: normal 2em monospace;
}


section {
    width: 350px;
    height: 500px;
    background: rgb(230, 225, 225);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.445);
    margin: auto;
    border-radius: 10px;
}

footer {
    margin-top: 20px;
    text-align: center;

}
