* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body 
{
    background-color: #f3f3f3;
}

header 
{
    margin-bottom: 50px;
    text-align: center;
}

.box 
{
    width: 500px;
    height: 500px;
    background: #e2e2e2;
    box-shadow: 4px 8px 10px #00000071;
    margin: auto;
    border-radius: 10px;
}

.box-search 
{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    gap: 50px;
    margin: 0px 160px;
}

p
{
    font-family: cursive;
    font-size: small;
    text-transform: uppercase;
    color: #000;
}